body{
    background: #19232C;
}
h1{
    color: #BB3F41;
    letter-spacing: -6px;
    font-weight: 900;
    font-family: 'Source Sans Pro', sans-serif;
}
.holder{
    width: 100%;
    margin-top: 100px;
}
.centerBox{
    width: 608px;
    margin: 0 auto;
}
.terminalWrap{
    width: 608px;
    margin: 0 auto;
    margin-top: 50px;
    height: 250px;
}
.topWelcome{
    font-size: 92px;
    line-height: 1;
}
.botWelcome{
    font-size: 109px;
    line-height: 0.8;
}
.leftbox{
    width: 300px;
    float: left;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}
.rightbox{
    width: 300px;
    margin-left: 330px;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}
.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}
@keyframes slideLeft {
	0% {
		transform: translateX(100%);
	}
	50%{
		transform: translateX(-8%);
	}
	65%{
		transform: translateX(4%);
	}
	80%{
		transform: translateX(-4%);
	}
	95%{
		transform: translateX(2%);
	}			
	100% {
		transform: translateX(0%);
	}
}
@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(100%);
	}
	50%{
		-webkit-transform: translateX(-8%);
	}
	65%{
		-webkit-transform: translateX(4%);
	}
	80%{
		-webkit-transform: translateX(-4%);
	}
	95%{
		-webkit-transform: translateX(2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}

.terminal{
    max-width: 608px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 20px 70px;
    clear: both;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.titlebar {
    padding: 5px 0;
    font-family: "Lucida Grande", sans-serif;
    font-size: 0.75em;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
    background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
    background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
    box-shadow: inset rgba(255, 255, 255, 0.7) 0px 1px 1px;
    border-bottom: #6a6a6a 1px solid;
}

.textbody {
    height: 100%;
    background-color: #fff;
    padding: 10px;
    color: #000;
    font-family: 'Monaco', 'Courier New';
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}