html {
    background:#f4f4f4;
}
.wrapper{
  height: 100%;
  width: 100%;
  text-align: center;
}
.container{
  margin-top: 50px;
  width: 980px;
  height: 500px;
  background:#fff;
  display: inline-block;
  
  text-align: center;
  box-shadow: 0px 3px 5px #ccc;
}
.comingsoon{
        font-family: 'Open Sans Condensed';
        font-size: 48px;
        color: #BB3D3E;
}
