* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  background-color: white;
}

.backgroundimage {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundimage {
  background-image: url("../img/bg2.jpg");
  min-height: 100%;
}

.signature {
  position: absolute;
  left: 0;
  top: 36vh;
  width: 100%;
  padding: 0px 45vw 0px 5vw;
}

.signature > p {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5em;
  font-weight: 800;
  line-height: 1.5em;
  margin: 0;
}

span {
  background: #fff;
  color: #af601b;
  padding:  3px 10px;
  white-space: nowrap; 
}

.content {
  background-color: white;
  min-height: 100%;

  display: flex;
  justify-content: center;
  align-content: center;
}

.projectsholder {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  justify-content: center;
}

/* Create three equal columns that sits next to each other */
.projectcolumn {
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
  max-width: 20%;
  padding: 0 4px;
}

.projectcolumn img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;

  box-shadow: 1px 1px 8px gray;
}

.dropbtn {
  background-color:transparent;
  color: white;
  padding: 16px;
  font-size: 30px;
  border: none;

  margin: 10px 5px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  z-index: 1;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;

  margin: 0px 15px;
}

.dropdown-content a {
  color: white;
  padding: 8px 5px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}

/* Tablets (No Parallax) */
@media only screen and (max-device-width: 1024px) {
  .backgroundimage {
    background-attachment: scroll;
  }
  .signature img {
    width: 90vw;
  }
  .projectcolumn {
    flex: 50%;
    max-width: 50%;
  }
  .signature {
    padding: 0px 25vw 0px 5vw;
  }
}

/* Phones (No Parallax) */
@media only screen and (max-device-width: 600px) {
  .backgroundimage {
    background-attachment: scroll;
  }
  .signature img {
    width: 90vw;
  }
  .projectcolumn {
    flex: 100%;
    max-width: 100%;
  }
  .signature {
    padding: 0px 5vw 0px 5vw;
  }
  .signature > p {
    font-size: 1.75em;
  }
}